In [1]:
import pandas as pd 
import googlemaps
import geocoder
import requests
from geopandas import GeoDataFrame
from shapely.geometry import Point 
from geojsonio import display
import mpu #This library is imported to compute euclidean distance between two points

In [3]:
def mpu_distance(point1, point2):
    return mpu.haversine_distance(point1, point2)


def compute(address): #Given a valid address, this method used the google geocode API to compute the latitude and longitude
    url = 'https://maps.googleapis.com/maps/api/geocode/json'
    params = {'sensor': 'false', 'address': address, 'key':'AIzaSyAuW05COfvNht0F7rIZkdtSiimRRbzdjns'}
    r = requests.get(url, params=params)
    results = r.json()['results']
    location = results[0]['geometry']['location'] #To parse the latitude and longitude from the response json obtained from the REST API Endpoint
    return (location['lat'], location['lng']) #Coordinated returned as a tuple

In [8]:
class BubbleTea(object):

    # authentication initialized
    gmaps = googlemaps.Client(key='AIzaSyAuW05COfvNht0F7rIZkdtSiimRRbzdjns')
    

    def __init__(self, filename):
        self.boba = pd.read_csv(filename)
        self.boba = self.boba[:10]
        self.length = len(self.boba)
    
    def calc_coords(self, user_address): 
        
        self.boba['Lat'] = [compute(each_address)[0] for each_address in self.boba['Address']]
        self.boba['Long'] = [compute(each_address)[1] for each_address in self.boba['Address']]
        self.boba['Coordinates'] = [Point(xy) for xy in zip(self.boba.Long, self.boba.Lat)]
        user_coord = compute(user_address)
        self.boba['distance'] = [mpu_distance(user_coord, (self.boba.Lat[i], self.boba.Long[i])) for i in range(self.length)]

    def sort_by_distance(self, count):
        self.boba = self.boba.sort_values(by=['distance'])[:count]
        
    def get_geo(self):
        return(list(self.boba['Coordinates']))
    
    def filter_pref(self, pref):
#         for val in self.boba:
        pass
            
    def get_names(self):
        return(self.boba['Name'])
     
    def get_gdf(self):
        crs = {'init': 'epsg:4326'}
        return(GeoDataFrame(self.get_names(), crs=crs, geometry=self.get_geo()))
    
    def visualize(self):
        self.boba['Coordinates'] = [Point(xy) for xy in zip(self.boba.Long, self.boba.Lat)]
        updated = self.get_gdf()
        display(updated.to_json())
    
    def get_closest(self):
        self.boba['Coordinates'] = [Point(xy) for xy in zip(self.boba.Long, self.boba.Lat)]
        updated = self.get_gdf()
        display(updated.to_json())

In [9]:
boba = BubbleTea("./boba.csv")

In [40]:
boba.calc_coords('8927 Gulf Dr. New York, NY 10016')
boba.boba

# Set the variable pref to the type of boba needed, and this block of code displays the shops with that particular boba
pref = 'Green Milk Tea'
for val in boba.boba.values:
    if pref in val[2].split(', '):
        print("Shop Name :", val[0])
        print("Sells : ", val[2])
        print("----------")

Shop Name : Bubble Tea & Crepes
Sells :  Green Milk Tea, Thai Milk Tea
----------
Shop Name : Cafe East
Sells :  Almond Milk Tea, Green Milk Tea
----------
Shop Name : Coco Bubble Tea
Sells :  Milk Tea, Green Milk Tea
----------
Shop Name : Coco Bubble Tea
Sells :  Almond Milk Tea, Green Milk Tea
----------
Shop Name : Coco Bubble Tea
Sells :  Milk Tea, Green Milk Tea
----------

In [41]:
boba.sort_by_distance(6)
boba.boba

,Name,Address,Menu,Lat,Long,Coordinates,distance
1,Bubble Tea & Crepes,"251 5th Ave, New York, NY 10016","Green Milk Tea, Thai Milk Tea",40.744649,-73.986959,POINT (-73.9869592 40.74464870000001),0.649860
5,Coco Bubble Tea,"1384 Broadway, New York, NY 10018","Milk Tea, Green Milk Tea",40.752552,-73.987007,POINT (-73.98700699999999 40.75255200000001),0.828837
4,Coco Bubble Tea,"129 E 45th St New York, NY 10017","Coffee Milk Tea, Almond Milk Tea",40.753386,-73.974285,POINT (-73.97428479999999 40.7533859),0.836370
7,Coco Bubble Tea,"38 Lexington Ave New York, NY 10010","Milk Tea, Thai Milk Tea",40.740163,-73.984533,POINT (-73.9845333 40.7401626),0.875396
6,Coco Bubble Tea,"33 St Mark's Pl New York, NY 10003","Almond Milk Tea, Green Milk Tea",40.729047,-73.988090,POINT (-73.98809 40.729047),2.136145
0,Boba Guys,"11 Waverly Pl New York, NY 10002","Milk Tea, Thai Milk Tea",40.730188,-73.994075,POINT (-73.9940751 40.730188),2.236342

In [42]:
boba.visualize()

In [ ]:
### END OF PROGRAM ###

In [14]:
bb = pd.read_csv("./boba.csv")

In [28]:
bb['Lat'] = [compute(val)[0] for val in bb['Address']]
bb['Long'] = [compute(val)[1] for val in bb['Address']]
bb['Coordinates'] = [Point(xy) for xy in zip(bb.Long, bb.Lat)]

In [32]:
bb.head()

,Name,Address,Lat,Long,Coordinates
0,Boba Guys,"11 Waverly Pl New York, NY 10002",40.730148,-73.994077,POINT (-73.9940771 40.7301485)
1,Bubble Tea & Crepes,"251 5th Ave, New York, NY 10016",40.744649,-73.986959,POINT (-73.9869592 40.74464870000001)
2,Bubbly Tea,"55B Bayard St New York, NY 10013",40.715158,-73.997832,POINT (-73.9978323 40.7151578)
3,Cafe East,"2920 Broadway, New York, NY 10027",40.806876,-73.963987,POINT (-73.96398669999999 40.806876)
4,Coco Bubble Tea,"129 E 45th St New York, NY 10017",40.753386,-73.974285,POINT (-73.97428479999999 40.7533859)

In [7]:
gmaps = googlemaps.Client(key='AIzaSyAuW05COfvNht0F7rIZkdtSiimRRbzdjns')

geocoder.google("2920 Broadway, New York, NY 10027")

<[REQUEST_DENIED] Google - Geocode [empty]>

In [ ]:
g = geocoder.google('Mountain View, CA')

In [ ]:
g.latlng

In [ ]:
gmaps = googlemaps.Client()
gmaps

In [52]:
bb.sort_values(by=['Lat'])[:3]

,Name,Address,Lat,Long,Coordinates
20,Jupioca,"113 Church St New York, NY 10007",40.713568,-74.008770,POINT (-74.0087698 40.713568)
46,Vivi Bubble Tea,"2 E Broadway New York, NY 10038",40.713629,-73.997534,POINT (-73.99753389999999 40.71362850000001)
14,Gong Cha,"1 Catherine St New York, NY 10038",40.713876,-73.997280,POINT (-73.99727969999999 40.7138763)